@font-face {
    font-family: 'CustomFont';
    src: url('../Universe_Condensed/Universe_Condensed.woff2') format('woff2'),
    /* Add additional font formats if needed */
}

body {
    font-family: 'CustomFont', Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #FFFFFF;
}

.menu {
    text-align: center;
    margin-bottom: 30px;
}

.menu h2 {
    color: #07302F;
}

.menu .btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #07302F;
    width: 250px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dropdown .btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #07302F;
    width: 400px; /* Set the width to match other buttons */
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.menu .btn:hover {
    background-color: #0056b3;
}

.image-container {
    text-align: center;
    margin-bottom: 20px;
}

.image-container img {
    max-width: 100%;
}

.custom-width {
    width: 550px; /* Adjust the width as needed */
}

.menu .btn2 {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #07302F;
    width: 285px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

